/*
   CSS pel semafor

   a un CLASS "nom" li correspon un ".nom"
   a un ID "nom"    li correspon un "#nom"

   timg -> tSPAsem
*/


#bitacora_data {
    font-size: 10px ;
    font-family: Lucida Console, Courier New, monospace ;
    background: #E0E0E0 ;
 }

#contingut {
    border: 1px solid blue ;
    background: #A0A0A0 ;
    text-align: center ;
 }

#imatge_div {
    border: 1px solid blue ;
    text-align: center ;
    background-color: #808080 ;
 }

#imatge_webcam {
    border: 1px solid red ;
 }

#my_header {
    text-align: center ;
 }

#my_date {
    text-align: center ;
    color: green ;
 }

.imgleft {
    border: 1px solid red ;
 }

.tpeu {
    border: 1px solid yellow ;
    width: 100% ;
    background: #E0E0E0 ;
 }


.tsemwork {
    border: 1px solid white ;
    background: #E0E0E0 ;
    margin-top: 15px ;
 }
.tsemwork td {
    padding-right: 10px ;
 }


.t_Virt_Sem {
    border: 1px solid yellow ;
    vertical-align: top ;
 }

.t_Virt_Sem td {
    border: none ;
 }


.tSPA_ajuda {
    border: 1px solid red ;
    background-color: #A0A0A0 ;
    width: 100% ;
 }
.tSPA_ajuda td {
    vertical-align: top ;
 }

.tSPA_foto {
    border: 1px solid blue ;
    background-color: #A0A0A0 ;
    width: 100% ;
 }
.tSPA_foto td {
    vertical-align: top ;
 }

.tSPA_logon {
    border: 1px solid black ;
    background-color: #A0A0A0 ;
    width: 100% ;
 }
.tSPA_logon td {
    vertical-align: top ;
 }

.tSPA_sem {
    border: 1px solid green ;
    background-color: #A0A0A0 ;
    width: 100% ;
 }
.tSPA_sem TD {
    vertical-align: top ;
 }

.tSPA_wassa {
    border: 1px solid yellow ;
    background-color: #A0A0A0 ;
    width: 100% ;
 }
.tSPA_wassa td {
    vertical-align: top ;
 }


.txtblanc {
    background-color: #FFFFFF ;
 }

.iimatge {
    background: #F0F000 ;
 }

H1, H2, H3, H4 {
     text-align: center ;
 }

body {
    font-family: Verdana, Arial, sans-serif ;
    font-size: 18px ;
    background: #C0C0C0 ;
    mmargin: 0 ;
    padding: 0 ;
    margin-left: 20px ;
    margin-right: 20px ;
 }
