/*
   CSS pel semafor
   a un CLASS "nom" li correspon un ".nom"
   a un ID "nom"    li correspon un "#nom"
*/

#contingut {
    border: 1px solid blue ;
    background: #a0a0a0 ;
    text-align: center ;
 }

#my_header {
    text-align: center ;
 }

#my_date {
    text-align: center ;
    color: green ;
 }

.timg {
    border: 1px solid green ;
    width: 100% ;
    background-color: #A0A0A0 ;
 }

.timg TD {
    vertical-align: top ;
 }

.tpeu {
    border: 1px solid yellow ;
    width: 100% ;
    background: #E0E0E0 ;
 }

.txtblanc {
    background-color: #FFFFFF ;
 }

.imatge {
    background: #F0F000 ;
 }

#imatge_div {
    border: 1px solid blue ;
    text-align: center ;
    background-color: #808080 ;
 }

#imatge_webcam {
    border: 1px solid red ;
 }

H1, H2, H3, H4 {
     text-align: center ;
 }

body {
    font-family: Verdana, Arial, sans-serif ;
    font-size: 18px ;
    background: #c0c0c0 ;
    mmargin: 0 ;
    padding: 0 ;
    margin-left: 20px ;
    margin-right: 20px ;
 }
